*{
    margin:0;
    border:0;
}
#navbar{
    height:50px;
    width:100%;
    background-color: whitesmoke;
    border-style: groove;
    border-color: black;
    display:flex;
    justify-content: space-around;
}
#navbar:hover{
    background-color: rgb(242, 157, 157);
}

#footer{
    height:50px;
    width:100%;
    background-color: whitesmoke;
    border-style: groove;
    border-color: black;
    position: absolute;
    bottom: 0;

}
#footer:hover{
    background-color: rgb(242, 157, 157);
}
#marquee{
    position:absolute;
    top:50%;
    justify-content: center;
    font-weight: bolder;
}
#homediv{
    height:50px;
    width:50px;
    border-style: groove;
    border-color: black;
    background-color: rgb(196, 242, 221);

}
#homediv:hover{
    background-color: rgb(234, 191, 160);
}
#homeinner{
    margin:5px;
    font-weight: bolder;
}
#homeinner:hover{
    color: red;
}
#aboutdiv{
    height:50px;
    width:50px;
    border-style: groove;
    border-color: black;
    background-color: rgb(196, 242, 221);


}
#aboutdiv:hover{
    background-color: rgb(234, 191, 160);
}
#aboutinner{
    margin:5px;
    font-weight: bolder;

}
#aboutinner:hover{
    color: red;

}
#contactdiv{
    height:50px;
    width:55px;
    border-style: groove;
    border-color: black;
    background-color: rgb(196, 242, 221);

}
#contactdiv:hover{
    background-color: rgb(234, 191, 160);
}


#contactinner{
    margin:5px;
    font-weight: bolder;
}
#contactinner:hover{
    color: red;
}
#additemsdiv{
    height:50px;
    width:80px;
    border-style: groove;
    border-color: black;
    background-color: rgb(196, 242, 221);


}
#additemsdiv:hover{
    background-color: rgb(234, 191, 160);

}
#additems{
    margin:5px;
    background-color: rgb(196, 242, 221);

    font-weight: bolder;

}
#additems:hover{
    color: red;

}

#removeitemsdiv{
    height:50px;
    width:80px;
    border-style: groove;
    border-color: black;
    background-color: rgb(196, 242, 221);


}
#removeitemsdiv:hover{
    background-color: rgb(247, 14, 14);
}
#removeitems{
    margin:5px;
    background-color: rgb(196, 242, 221);

    font-weight: bolder;

}