*{
    margin:0;
    border:0;
}
#navbar{
    height:50px;
    width:100%;
    background-color: whitesmoke;
    border-style: groove;
    border-color: black;
    display:flex;
    justify-content: space-around;
}
#navbar:hover{
    background-color: rgb(242, 157, 157);
}

#footer{
    height:50px;
    width:100%;
    background-color: whitesmoke;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;

}
#footer:hover{
    background-color: rgb(242, 157, 157);
}
#marquee{
    position:absolute;
    top:50%;
    justify-content: center;
    font-weight: bolder;
}
#homediv{
    height:50px;
    width:50px;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(196, 242, 221);

}
#homeinner{
    margin:5px;
    font-weight: bolder;
}
#aboutdiv{
    height:50px;
    width:50px;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(196, 242, 221);


}
#aboutinner{
    margin:5px;
    font-weight: bolder;

}
#contactdiv{
    height:50px;
    width:55px;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(196, 242, 221);

}
#contactinner{
    margin:5px;
    font-weight: bolder;
}
#additemsdiv{
    height:50px;
    width:80px;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(196, 242, 221);


}
#additems{
    margin:5px;
    background-color: rgb(196, 242, 221);

    font-weight: bolder;

}
#removeitemsdiv{
    height:50px;
    width:80px;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(196, 242, 221);


}
#removeitems{
    margin:5px;
    background-color: rgb(196, 242, 221);

    font-weight: bolder;

}